{% extends 'base.html' %}
{% block content %}
<div class="">
    <div class="p-4 m-1">
        <div class="col-lg-4 mx-auto pt-2" style="border: 1px solid black;background-color:darkgreen;">
            <h3 class="alert alert-light border rounded"
             style="font-size:large;background-color:rgb(48, 47, 47);color:lightgreen;">Login Here</h3>
            <form action="/Login" method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                   {{error}}
                </div>
                {% endif %}
                <!-- emial -->
                <div class="form-group">
                  <label for="" style="color:lightgreen;">Email : </label>
                  <input required type="email" name="email" id="" value="{{values.email}}" style="border: 1px solid black;"
                  class="form-control form-control-sm" placeholder="example2gmail.com" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="" style="color:lightgreen;">Password : </label>
                    <input type="password" name="password" id="" style="border: 1px solid black;"
                    class="form-control form-control-sm" placeholder="*************" aria-describedby="helpId">
                  </div>
                <div class="form-group">
                    <input class ="btn btn-sm btn-info" type="submit" value="Login">
                </div>
                  
              </form>
        </div>
    </div>
</div>
{% endblock %}